<tr id="workout-{{workout.id}}" class="workout">
  <td class="date">{{workout.date}}</td>
  <td class="reps">{{workout.reps}}</td>
  <td class="name">{{workout.name}}</td>
  <td class="weight">{{workout.weight}}</td>
  <td class="unit">{{workout.unit}}</td>
  <td>
    <button type="button" class="edit btn btn-success" data-id="{{workout.id}}" data-action="edit">
      ✔
    </button>
  </td>
  <td>
    <button type="button" class="delete btn btn-danger" data-id="{{workout.id}}" data-action="delete">
      <span>X</span>
    </button>
  </td>
</tr>