<tr class="workout">
  <td>{{workout.date}}</td>
  <td>{{workout.reps}}</td>
  <td>{{workout.name}}</td>
  <td>{{workout.weight}}</td>
  <td>{{workout.unit}}</td>
  <td>
    <button type="button" class="btn btn-secondary" data-id="{{workout.id}}" data-action="edit">
      <img src="/images/svg/ic_edit_black_24px.svg">
    </button>
  </td>
  <td>
    <button type="button" class="btn btn-danger" data-id="{{workout.id}}" data-action="delete">
      <img src="/images/svg/ic_delete_forever_black_24px.svg">
    </button>
  </td>
</tr>